<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0x0122a880</integer>
	<integer>0x01ca80da</integer>
	<integer>0x021e00d2</integer>
	<integer>0x050960cb</integer>
	<integer>0x052d4782</integer>
	<integer>0x052d628d</integer>
	<integer>0x05669144</integer>
	<integer>0x0587a04d</integer>
	<integer>0x05bd86f6</integer>
	<integer>0x05c7a484</integer>
	<integer>0x05f98766</integer>
	<integer>0x08132c6e</integer>
	<integer>0x0816e608</integer>
	<integer>0x0ec8c891</integer>
	<integer>0x12e400bc</integer>
	<integer>0x12e400c8</integer>
	<integer>0x1718a861</integer>
	<integer>0x171c23e3</integer>
	<integer>0x175c4caa</integer>
	<integer>0x17634077</integer>
	<integer>0x17e4a680</integer>
	<integer>0x17e52d20</integer>
	<integer>0x18086980</integer>
	<integer>0x18104589</integer>
	<integer>0x185e6260</integer>
	<integer>0x18667607</integer>
	<integer>0x1876a6e4</integer>
	<integer>0x187a8531</integer>
	<integer>0x18a661a2</integer>
	<integer>0x18d5ebf2</integer>
	<integer>0x18e26b40</integer>
	<integer>0x18e4c0ab</integer>
	<integer>0x1b8c8512</integer>
	<integer>0x1f292819</integer>
	<integer>0x1f2b653b</integer>
	<integer>0x1fb8c3b5</integer>
	<integer>0x1fc18b42</integer>
	<integer>0x25c84666</integer>
	<integer>0x25cd0a97</integer>
	<integer>0x2a036ae3</integer>
	<integer>0x2a3c856a</integer>
	<integer>0x2d3855e7</integer>
	<integer>0x2d3866e4</integer>
	<integer>0x2d4f82eb</integer>
	<integer>0x2e26ebe5</integer>
	<integer>0x2e3b024a</integer>
	<integer>0x2e658425</integer>
	<integer>0x2e65a832</integer>
	<integer>0x2ea34ce6</integer>
	<integer>0x2ea6a167</integer>
	<integer>0x2eb68464</integer>
	<integer>0x2edf245e</integer>
	<integer>0x2ee34284</integer>
	<integer>0x2ee3428a</integer>
	<integer>0x2eef6b4a</integer>
	<integer>0x2ef92764</integer>
	<integer>0x2efa626c</integer>
	<integer>0x32072572</integer>
	<integer>0x32513597</integer>
	<integer>0x32732bfd</integer>
	<integer>0x32741457</integer>
	<integer>0x3274215c</integer>
	<integer>0x327da7f5</integer>
	<integer>0x328f0933</integer>
	<integer>0x32bcc085</integer>
	<integer>0x364da24c</integer>
	<integer>0x3699616d</integer>
	<integer>0x36a5c07d</integer>
	<integer>0x3a606955</integer>
	<integer>0x3ba7c487</integer>
	<integer>0x3c1de3a3</integer>
	<integer>0x3d23e113</integer>
	<integer>0x3e2b82b2</integer>
	<integer>0x3e6d311a</integer>
	<integer>0x3eca0061</integer>
	<integer>0x3ed242e3</integer>
	<integer>0x3ed2c0a9</integer>
	<integer>0x404a62cd</integer>
	<integer>0x409cc164</integer>
	<integer>0x40cb6656</integer>
	<integer>0x40e58e30</integer>
	<integer>0x4160c1a5</integer>
	<integer>0x421e0307</integer>
	<integer>0x42722131</integer>
	<integer>0x427685c2</integer>
	<integer>0x42870a7e</integer>
	<integer>0x42ac0a04</integer>
	<integer>0x42c226fa</integer>
	<integer>0x42c226fd</integer>
	<integer>0x42d7c068</integer>
	<integer>0x433c6273</integer>
	<integer>0x43a42324</integer>
	<integer>0x43bfa2f4</integer>
	<integer>0x43cfc34d</integer>
	<integer>0x43dbe98c</integer>
	<integer>0x43ddc137</integer>
	<integer>0x43e4a2e4</integer>
	<integer>0x443243c7</integer>
	<integer>0x443e03cb</integer>
	<integer>0x446a2abf</integer>
	<integer>0x4496b5c6</integer>
	<integer>0x44c4c46a</integer>
	<integer>0x44e0c251</integer>
	<integer>0x452e05c2</integer>
	<integer>0x4532abee</integer>
	<integer>0x45402b98</integer>
	<integer>0x4541290d</integer>
	<integer>0x455a84c8</integer>
	<integer>0x458f01f3</integer>
	<integer>0x459262d8</integer>
	<integer>0x45a5f626</integer>
	<integer>0x45cf0687</integer>
	<integer>0x45fbd01a</integer>
	<integer>0x46260165</integer>
	<integer>0x46260942</integer>
	<integer>0x465a0212</integer>
	<integer>0x473ae4e2</integer>
	<integer>0x47c70bbd</integer>
	<integer>0x47c7c1ca</integer>
	<integer>0x47cde8b5</integer>
	<integer>0x47ecc8a2</integer>
	<integer>0x481849ba</integer>
	<integer>0x4834826e</integer>
	<integer>0x48356f25</integer>
	<integer>0x48eb2646</integer>
	<integer>0x491fab95</integer>
	<integer>0x49208948</integer>
	<integer>0x498985ee</integer>
	<integer>0x49b5c067</integer>
	<integer>0x49be023c</integer>
	<integer>0x49c3c089</integer>
	<integer>0x49de2375</integer>
	<integer>0x4a39c7b4</integer>
	<integer>0x4a52e9cd</integer>
	<integer>0x4a554252</integer>
	<integer>0x4a65e07f</integer>
	<integer>0x4a714510</integer>
	<integer>0x4a7aeb44</integer>
	<integer>0x4ac1448d</integer>
	<integer>0x4ad0a4db</integer>
	<integer>0x4b64257a</integer>
	<integer>0x4b9195a9</integer>
	<integer>0x4ba82214</integer>
	<integer>0x4c142cf0</integer>
	<integer>0x4c644611</integer>
	<integer>0x4ca803ef</integer>
	<integer>0x4cba8c67</integer>
	<integer>0x4d5c44dd</integer>
	<integer>0x4d6d658e</integer>
	<integer>0x4d6e0b56</integer>
	<integer>0x4df26c12</integer>
	<integer>0x4e54645f</integer>
	<integer>0x4f84e690</integer>
	<integer>0x4f852b3f</integer>
	<integer>0x4fa04c99</integer>
	<integer>0x4fa92218</integer>
	<integer>0x4fbc074e</integer>
	<integer>0x50d9e219</integer>
	<integer>0x50df64b3</integer>
	<integer>0x50f081dd</integer>
	<integer>0x5101adf3</integer>
	<integer>0x51070b32</integer>
	<integer>0x51071011</integer>
	<integer>0x51426f03</integer>
	<integer>0x51500947</integer>
	<integer>0x518c2b8a</integer>
	<integer>0x51ab2225</integer>
	<integer>0x51aef732</integer>
	<integer>0x51b59b35</integer>
	<integer>0x51b805fd</integer>
	<integer>0x51bb4582</integer>
	<integer>0x51e60354</integer>
	<integer>0x522a8033</integer>
	<integer>0x524ae215</integer>
	<integer>0x528e4b32</integer>
	<integer>0x52c7660a</integer>
	<integer>0x52c8cd1e</integer>
	<integer>0x52dd6c15</integer>
	<integer>0x52dd8023</integer>
	<integer>0x52ee7c29</integer>
	<integer>0x52f200f5</integer>
	<integer>0x534c7b6e</integer>
	<integer>0x539609c4</integer>
	<integer>0x53a2c4c0</integer>
	<integer>0x53a2eae0</integer>
	<integer>0x53aa685b</integer>
	<integer>0x54022268</integer>
	<integer>0x542d625b</integer>
	<integer>0x542fa196</integer>
	<integer>0x54d4c083</integer>
	<integer>0x54d7a965</integer>
	<integer>0x54ee8cb0</integer>
	<integer>0x54f5471f</integer>
	<integer>0x551104d4</integer>
	<integer>0x55728086</integer>
	<integer>0x559fedbf</integer>
	<integer>0x55a682bd</integer>
	<integer>0x55c704e4</integer>
	<integer>0x55d642a8</integer>
	<integer>0x55d6c3d2</integer>
	<integer>0x55e50049</integer>
	<integer>0x5615602d</integer>
	<integer>0x57302ac7</integer>
	<integer>0x57518f52</integer>
	<integer>0x5751fb48</integer>
	<integer>0x576818b9</integer>
	<integer>0x5768a868</integer>
	<integer>0x5775ea47</integer>
	<integer>0x577660c5</integer>
	<integer>0x57910c39</integer>
	<integer>0x579faabe</integer>
	<integer>0x5896a8a0</integer>
	<integer>0x58d0004f</integer>
	<integer>0x58d00095</integer>
	<integer>0x58d6c2e2</integer>
	<integer>0x59010b20</integer>
	<integer>0x5924eb6c</integer>
	<integer>0x59621029</integer>
	<integer>0x596c48c3</integer>
	<integer>0x599c239d</integer>
	<integer>0x59a3e31c</integer>
	<integer>0x59d421ed</integer>
	<integer>0x59d4a0a5</integer>
	<integer>0x59e76053</integer>
	<integer>0x59f8a440</integer>
	<integer>0x5a95c1c7</integer>
	<integer>0x5b4deff5</integer>
	<integer>0x5b6ac261</integer>
	<integer>0x5b7e4d4d</integer>
	<integer>0x5b8626c3</integer>
	<integer>0x5b9c61b5</integer>
	<integer>0x5bcf4490</integer>
	<integer>0x5bd14d65</integer>
	<integer>0x5bd6c8cd</integer>
	<integer>0x5bdc83f2</integer>
	<integer>0x5bdca312</integer>
	<integer>0x5be91723</integer>
	<integer>0x5c0d605d</integer>
	<integer>0x5c0e4a72</integer>
	<integer>0x5c1b07d1</integer>
	<integer>0x5cdde40d</integer>
	<integer>0x5cffcf49</integer>
	<integer>0x5d48a794</integer>
	<integer>0x5d4aa3ea</integer>
	<integer>0x5d7bae42</integer>
	<integer>0x5d98a61d</integer>
	<integer>0x5db52dbc</integer>
	<integer>0x5e130cf4</integer>
	<integer>0x5ebee370</integer>
	<integer>0x5ec6871d</integer>
	<integer>0x5ee0a241</integer>
	<integer>0x5ee26b56</integer>
	<integer>0x5ef2c6a1</integer>
	<integer>0x5f1f0ad1</integer>
	<integer>0x5f4148f4</integer>
	<integer>0x5f54a25f</integer>
	<integer>0x5f5a8b2e</integer>
	<integer>0x5fd72f85</integer>
	<integer>0x60174355</integer>
	<integer>0x602ca6be</integer>
	<integer>0x615de14a</integer>
	<integer>0x621a0022</integer>
	<integer>0x621be166</integer>
	<integer>0x62e575e5</integer>
	<integer>0x62f9447d</integer>
	<integer>0x62ff059b</integer>
	<integer>0x6365f072</integer>
	<integer>0x6564ae8a</integer>
	<integer>0x65fbcb06</integer>
	<integer>0x67033c3d</integer>
	<integer>0x671e2abd</integer>
	<integer>0x67e0a530</integer>
	<integer>0x682453e9</integer>
	<integer>0x68258116</integer>
	<integer>0x6836c0fb</integer>
	<integer>0x6880e4fc</integer>
	<integer>0x6882a12f</integer>
	<integer>0x6883213c</integer>
	<integer>0x688f009c</integer>
	<integer>0x689c6f48</integer>
	<integer>0x68a76f54</integer>
	<integer>0x68c128f8</integer>
	<integer>0x68c507ae</integer>
	<integer>0x68c508fa</integer>
	<integer>0x68df0185</integer>
	<integer>0x68ec618c</integer>
	<integer>0x68ee80d6</integer>
	<integer>0x68ee82b6</integer>
	<integer>0x6a26ea54</integer>
	<integer>0x6ab924cc</integer>
	<integer>0x6b060491</integer>
	<integer>0x6b960206</integer>
	<integer>0x6b9628ea</integer>
	<integer>0x6b9b6c82</integer>
	<integer>0x6ba1b673</integer>
	<integer>0x6baa42e7</integer>
	<integer>0x6bbe80e2</integer>
	<integer>0x6bbf6a73</integer>
	<integer>0x6c10023d</integer>
	<integer>0x6d4604a8</integer>
	<integer>0x6da223c4</integer>
	<integer>0x6da3ebef</integer>
	<integer>0x6dbec4dc</integer>
	<integer>0x6dbf273c</integer>
	<integer>0x6dea6abf</integer>
	<integer>0x6dee5152</integer>
	<integer>0x724c931b</integer>
	<integer>0x731ce07f</integer>
	<integer>0x76614fda</integer>
	<integer>0x76bdcfc5</integer>
	<integer>0x77e460e9</integer>
	<integer>0x7893b251</integer>
	<integer>0x79297b05</integer>
	<integer>0x794305e6</integer>
	<integer>0x7a6b8f6e</integer>
	<integer>0x7b02aa62</integer>
	<integer>0x7b6e415e</integer>
	<integer>0x7bc18b13</integer>
	<integer>0x7defa029</integer>
	<integer>0x8065a2c1</integer>
	<integer>0x806f490a</integer>
	<integer>0x808ce549</integer>
	<integer>0x80afc31f</integer>
	<integer>0x80c76b3f</integer>
	<integer>0x80c7c099</integer>
	<integer>0x817b0707</integer>
	<integer>0x8259a0ea</integer>
	<integer>0x83488ba4</integer>
	<integer>0x83bf7062</integer>
	<integer>0x850186a2</integer>
	<integer>0x86138435</integer>
	<integer>0x89e2222a</integer>
	<integer>0x8d2902ac</integer>
	<integer>0x8dff80cc</integer>
	<integer>0x8ed90c6a</integer>
	<integer>0x8fd7817e</integer>
	<integer>0x92002065</integer>
	<integer>0x93e50dc7</integer>
	<integer>0x95d285f4</integer>
	<integer>0x95d2a2bb</integer>
	<integer>0x9665a3f1</integer>
	<integer>0x97ec0bbd</integer>
	<integer>0x997942d3</integer>
	<integer>0x9a14028b</integer>
	<integer>0x9ffd1784</integer>
	<integer>0xa2d16a7b</integer>
	<integer>0xa2d2c6b8</integer>
	<integer>0xa2da4179</integer>
	<integer>0xa2dea131</integer>
	<integer>0xa2f38406</integer>
	<integer>0xa2f3843a</integer>
	<integer>0xa2f86675</integer>
	<integer>0xa39e236e</integer>
	<integer>0xa40f0abd</integer>
	<integer>0xa42886ab</integer>
	<integer>0xa6e64743</integer>
	<integer>0xa7a0a1c7</integer>
	<integer>0xa867c3fa</integer>
	<integer>0xa8901b70</integer>
	<integer>0xa89e811d</integer>
	<integer>0xaa4ba256</integer>
	<integer>0xac5a63ae</integer>
	<integer>0xacf5059c</integer>
	<integer>0xad17a62f</integer>
	<integer>0xad200bc2</integer>
	<integer>0xad22cb4c</integer>
	<integer>0xadab0134</integer>
	<integer>0xadaf880d</integer>
	<integer>0xade6e48b</integer>
	<integer>0xadf7c146</integer>
	<integer>0xae31841c</integer>
	<integer>0xae34ca48</integer>
	<integer>0xae354c57</integer>
	<integer>0xae6d211c</integer>
	<integer>0xb01c0ca9</integer>
	<integer>0xb023b6d6</integer>
	<integer>0xb0242171</integer>
	<integer>0xb0242179</integer>
	<integer>0xb03a60ad</integer>
	<integer>0xb0794c54</integer>
	<integer>0xb23e4610</integer>
	<integer>0xb23e6f1a</integer>
	<integer>0xb24ca93b</integer>
	<integer>0xb24f8320</integer>
	<integer>0xb2a2c7d8</integer>
	<integer>0xb2af8623</integer>
	<integer>0xb2f86f04</integer>
	<integer>0xb2fe01aa</integer>
	<integer>0xb2fe22a1</integer>
	<integer>0xb32b8f78</integer>
	<integer>0xb3d09cc6</integer>
	<integer>0xb4c8803a</integer>
	<integer>0xb74ea96c</integer>
	<integer>0xb7606098</integer>
	<integer>0xb844022e</integer>
	<integer>0xb849a0a0</integer>
	<integer>0xb85ee33a</integer>
	<integer>0xb89844a3</integer>
	<integer>0xb9072372</integer>
	<integer>0xb91c4cb3</integer>
	<integer>0xb91fa0ca</integer>
	<integer>0xb92dc081</integer>
	<integer>0xb9428c0f</integer>
	<integer>0xba02a717</integer>
	<integer>0xbadc658e</integer>
	<integer>0xbc1a0521</integer>
	<integer>0xbc4b8892</integer>
	<integer>0xbc78c28c</integer>
	<integer>0xbc790596</integer>
	<integer>0xbc8a0072</integer>
	<integer>0xbc8a21ef</integer>
	<integer>0xbca60052</integer>
	<integer>0xbcb66c81</integer>
	<integer>0xbcbf61d0</integer>
	<integer>0xbe0a09d9</integer>
	<integer>0xbe4b8f90</integer>
	<integer>0xbe8b6692</integer>
	<integer>0xbfed401c</integer>
	<integer>0xc003833d</integer>
	<integer>0xc063e103</integer>
	<integer>0xc06ea07a</integer>
	<integer>0xc0928901</integer>
	<integer>0xc0b7c6cc</integer>
	<integer>0xc0cbe447</integer>
	<integer>0xc1006d03</integer>
	<integer>0xc10ceecc</integer>
	<integer>0xc15bc855</integer>
	<integer>0xc1eae19c</integer>
	<integer>0xc206e926</integer>
	<integer>0xc23f8f88</integer>
	<integer>0xc27e64f6</integer>
	<integer>0xc38663c3</integer>
	<integer>0xc39f6f62</integer>
	<integer>0xc39fe28b</integer>
	<integer>0xc3c5afbe</integer>
	<integer>0xc630c76c</integer>
	<integer>0xc639d086</integer>
	<integer>0xc639d21b</integer>
	<integer>0xc63e6ddf</integer>
	<integer>0xc6a78c08</integer>
	<integer>0xc6a78c12</integer>
	<integer>0xc75badea</integer>
	<integer>0xc77fe2f5</integer>
	<integer>0xc7b48674</integer>
	<integer>0xc8076063</integer>
	<integer>0xc9a06a56</integer>
	<integer>0xca37572d</integer>
	<integer>0xca3c44f2</integer>
	<integer>0xca3c45e8</integer>
	<integer>0xca7c6d67</integer>
	<integer>0xcb1ec54d</integer>
	<integer>0xcb58a02b</integer>
	<integer>0xcb978c0e</integer>
	<integer>0xcbdb0ecc</integer>
	<integer>0xcd93283e</integer>
	<integer>0xcfeb27d6</integer>
	<integer>0xcff44908</integer>
	<integer>0xd00c40e1</integer>
	<integer>0xd04cc8c8</integer>
	<integer>0xd1286079</integer>
	<integer>0xd17e6bb0</integer>
	<integer>0xd18d2895</integer>
	<integer>0xd1be4b3b</integer>
	<integer>0xd1d06f8e</integer>
	<integer>0xd23622a4</integer>
	<integer>0xd34842e5</integer>
	<integer>0xd433902a</integer>
	<integer>0xd470219d</integer>
	<integer>0xd474483f</integer>
	<integer>0xd47e0e7a</integer>
	<integer>0xd542cdc2</integer>
	<integer>0xd56fc415</integer>
	<integer>0xd57a6b66</integer>
	<integer>0xd5884baf</integer>
	<integer>0xd59b0718</integer>
	<integer>0xd5a3401f</integer>
	<integer>0xd5a340d0</integer>
	<integer>0xd5a55688</integer>
	<integer>0xd5b80816</integer>
	<integer>0xd80f4eb6</integer>
	<integer>0xd8378f9a</integer>
	<integer>0xd873eb20</integer>
	<integer>0xd87ee2a6</integer>
	<integer>0xd8914357</integer>
	<integer>0xd8a98da9</integer>
	<integer>0xd8f95ce6</integer>
	<integer>0xd8fa8ae6</integer>
	<integer>0xd914ab2b</integer>
	<integer>0xd9170247</integer>
	<integer>0xd91702f2</integer>
	<integer>0xd919094c</integer>
	<integer>0xd928e2a9</integer>
	<integer>0xd97b6209</integer>
	<integer>0xd99b243e</integer>
	<integer>0xda3dc4ca</integer>
	<integer>0xdae7cd29</integer>
	<integer>0xdce94dc8</integer>
	<integer>0xdf12e255</integer>
	<integer>0xdfc5cb52</integer>
	<integer>0xdfffa68e</integer>
</array>
</plist>
