<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>0x0121c56e</integer>
	<integer>0x0122b4f5</integer>
	<integer>0x01ca80da</integer>
	<integer>0x0223c319</integer>
	<integer>0x05647b13</integer>
	<integer>0x05af91a9</integer>
	<integer>0x05c785c1</integer>
	<integer>0x05c7970a</integer>
	<integer>0x05e401e6</integer>
	<integer>0x0ec8c891</integer>
	<integer>0x12e400bc</integer>
	<integer>0x12e400c8</integer>
	<integer>0x171ef399</integer>
	<integer>0x1758e831</integer>
	<integer>0x17636909</integer>
	<integer>0x17e289d0</integer>
	<integer>0x17e3b1a1</integer>
	<integer>0x17e3bf32</integer>
	<integer>0x17e52d20</integer>
	<integer>0x17ec9045</integer>
	<integer>0x17fd9471</integer>
	<integer>0x17fdf116</integer>
	<integer>0x17ffe3e7</integer>
	<integer>0x1814cdde</integer>
	<integer>0x181778fc</integer>
	<integer>0x185e6260</integer>
	<integer>0x18625fc9</integer>
	<integer>0x186f5a37</integer>
	<integer>0x18777769</integer>
	<integer>0x188a1995</integer>
	<integer>0x1f03d62d</integer>
	<integer>0x1fba572e</integer>
	<integer>0x1fba6562</integer>
	<integer>0x1fbafaba</integer>
	<integer>0x1fcc996b</integer>
	<integer>0x252c10e7</integer>
	<integer>0x252c2c0b</integer>
	<integer>0x2578a8cc</integer>
	<integer>0x258f561a</integer>
	<integer>0x25bb4b18</integer>
	<integer>0x25bc44a9</integer>
	<integer>0x25c05f96</integer>
	<integer>0x25c9f674</integer>
	<integer>0x25cd0a8c</integer>
	<integer>0x2e0ad211</integer>
	<integer>0x2e138a9a</integer>
	<integer>0x2e1ccc7b</integer>
	<integer>0x2e1ccd43</integer>
	<integer>0x2e26ebe5</integer>
	<integer>0x2ea34ce6</integer>
	<integer>0x2ea6a25b</integer>
	<integer>0x2eadbe32</integer>
	<integer>0x2ee34284</integer>
	<integer>0x2ee5eebb</integer>
	<integer>0x2eec74d1</integer>
	<integer>0x2f370e41</integer>
	<integer>0x3207fce5</integer>
	<integer>0x322e9f5b</integer>
	<integer>0x324e31b5</integer>
	<integer>0x324ee739</integer>
	<integer>0x324f9941</integer>
	<integer>0x3274222c</integer>
	<integer>0x327e56fd</integer>
	<integer>0x328e2917</integer>
	<integer>0x32c771c1</integer>
	<integer>0x32c84e6b</integer>
	<integer>0x32ce8ab1</integer>
	<integer>0x32fc3431</integer>
	<integer>0x36a5194b</integer>
	<integer>0x36a96b28</integer>
	<integer>0x36b3be38</integer>
	<integer>0x36bb5279</integer>
	<integer>0x36f655f6</integer>
	<integer>0x3a4a07cd</integer>
	<integer>0x3a60b779</integer>
	<integer>0x3d3e3a26</integer>
	<integer>0x3d3f5b48</integer>
	<integer>0x3d3f5b70</integer>
	<integer>0x3d48d3e4</integer>
	<integer>0x3e2b289a</integer>
	<integer>0x3e2b82b2</integer>
	<integer>0x3e50b9d5</integer>
	<integer>0x3e6d311a</integer>
	<integer>0x3ead8b3a</integer>
	<integer>0x3eb5eeba</integer>
	<integer>0x3ed2727f</integer>
	<integer>0x3f8de48a</integer>
	<integer>0x3f99d54e</integer>
	<integer>0x3fdf5491</integer>
	<integer>0x3ffb5870</integer>
	<integer>0x401f6e32</integer>
	<integer>0x4022792d</integer>
	<integer>0x4072062a</integer>
	<integer>0x408c7d62</integer>
	<integer>0x409cc164</integer>
	<integer>0x411e2f74</integer>
	<integer>0x412384b1</integer>
	<integer>0x4160c1a5</integer>
	<integer>0x416fbd1a</integer>
	<integer>0x42440a1e</integer>
	<integer>0x427221fa</integer>
	<integer>0x42822e3f</integer>
	<integer>0x42afd787</integer>
	<integer>0x42befda5</integer>
	<integer>0x42c226fe</integer>
	<integer>0x42f4626f</integer>
	<integer>0x43a2ee1e</integer>
	<integer>0x43a9ff11</integer>
	<integer>0x43b7ad19</integer>
	<integer>0x43dbe98c</integer>
	<integer>0x43e3f073</integer>
	<integer>0x43f7de47</integer>
	<integer>0x442b7242</integer>
	<integer>0x44342124</integer>
	<integer>0x44c6f5f1</integer>
	<integer>0x450ce2a5</integer>
	<integer>0x450dc6bc</integer>
	<integer>0x450fb33e</integer>
	<integer>0x4527ef2f</integer>
	<integer>0x452f2d57</integer>
	<integer>0x453ed9ce</integer>
	<integer>0x45402a1f</integer>
	<integer>0x4540513d</integer>
	<integer>0x4543dbc8</integer>
	<integer>0x455a849d</integer>
	<integer>0x455e1eb1</integer>
	<integer>0x4588aff1</integer>
	<integer>0x463d61e4</integer>
	<integer>0x467b7684</integer>
	<integer>0x473b98b6</integer>
	<integer>0x47c6f897</integer>
	<integer>0x47c8f259</integer>
	<integer>0x47e1b39d</integer>
	<integer>0x480ebb33</integer>
	<integer>0x482622b4</integer>
	<integer>0x483448bb</integer>
	<integer>0x485b90b6</integer>
	<integer>0x48a731d9</integer>
	<integer>0x48c9f337</integer>
	<integer>0x48df3cf9</integer>
	<integer>0x48e49966</integer>
	<integer>0x491a65e4</integer>
	<integer>0x49329ec8</integer>
	<integer>0x49b5ccaa</integer>
	<integer>0x4a39c7b4</integer>
	<integer>0x4a3fdee2</integer>
	<integer>0x4a51e715</integer>
	<integer>0x4ac17e52</integer>
	<integer>0x4acfeba4</integer>
	<integer>0x4b53c572</integer>
	<integer>0x4b907209</integer>
	<integer>0x4c7005f7</integer>
	<integer>0x4cae14f7</integer>
	<integer>0x4d25f08e</integer>
	<integer>0x4d39ca6b</integer>
	<integer>0x4dac7b35</integer>
	<integer>0x4ddd5bfd</integer>
	<integer>0x4deb3030</integer>
	<integer>0x4df54e02</integer>
	<integer>0x4e083af9</integer>
	<integer>0x4e1bbfb6</integer>
	<integer>0x4e81ec8d</integer>
	<integer>0x4e83582f</integer>
	<integer>0x4e9dcd06</integer>
	<integer>0x4f84e690</integer>
	<integer>0x4f8fbc9b</integer>
	<integer>0x4fa0dd8c</integer>
	<integer>0x4fa16f72</integer>
	<integer>0x5064bd03</integer>
	<integer>0x50938c79</integer>
	<integer>0x50cb4b85</integer>
	<integer>0x50dc63e3</integer>
	<integer>0x50de14a9</integer>
	<integer>0x50f10107</integer>
	<integer>0x5117bff3</integer>
	<integer>0x51260bca</integer>
	<integer>0x51500947</integer>
	<integer>0x516ed5a5</integer>
	<integer>0x51859bed</integer>
	<integer>0x51ab2225</integer>
	<integer>0x51b59bb4</integer>
	<integer>0x52279c89</integer>
	<integer>0x5249a15f</integer>
	<integer>0x52822d28</integer>
	<integer>0x52a5992f</integer>
	<integer>0x52a88085</integer>
	<integer>0x52b3e176</integer>
	<integer>0x52c2f59e</integer>
	<integer>0x52c7660a</integer>
	<integer>0x52d31ef3</integer>
	<integer>0x52d98591</integer>
	<integer>0x52dd8023</integer>
	<integer>0x52dd83b1</integer>
	<integer>0x52e9e1cd</integer>
	<integer>0x5300f992</integer>
	<integer>0x53591ff9</integer>
	<integer>0x53801de7</integer>
	<integer>0x5380fd8e</integer>
	<integer>0x538f8238</integer>
	<integer>0x53960263</integer>
	<integer>0x539609c4</integer>
	<integer>0x53a1402d</integer>
	<integer>0x53d467d4</integer>
	<integer>0x53d46f72</integer>
	<integer>0x53f64b08</integer>
	<integer>0x53fe511f</integer>
	<integer>0x53fe9636</integer>
	<integer>0x54022268</integer>
	<integer>0x540f3d3c</integer>
	<integer>0x54111987</integer>
	<integer>0x542a9013</integer>
	<integer>0x54d4d287</integer>
	<integer>0x54d7a5e7</integer>
	<integer>0x54ee8cb0</integer>
	<integer>0x54f01fb8</integer>
	<integer>0x5519d689</integer>
	<integer>0x558ba384</integer>
	<integer>0x55c704e4</integer>
	<integer>0x55d63dd1</integer>
	<integer>0x55d66c4d</integer>
	<integer>0x567b1011</integer>
	<integer>0x57302ac7</integer>
	<integer>0x5768a868</integer>
	<integer>0x57e549ab</integer>
	<integer>0x57ecc44d</integer>
	<integer>0x58613862</integer>
	<integer>0x5886b259</integer>
	<integer>0x5896e913</integer>
	<integer>0x58a88503</integer>
	<integer>0x58d012f6</integer>
	<integer>0x58d021ca</integer>
	<integer>0x59121c15</integer>
	<integer>0x5955dc54</integer>
	<integer>0x59a3e31c</integer>
	<integer>0x59b8533c</integer>
	<integer>0x59e76053</integer>
	<integer>0x59ec3175</integer>
	<integer>0x5b5a42d1</integer>
	<integer>0x5b6ac261</integer>
	<integer>0x5b864b73</integer>
	<integer>0x5b98c124</integer>
	<integer>0x5b98db23</integer>
	<integer>0x5bc50aea</integer>
	<integer>0x5bd14d65</integer>
	<integer>0x5bd26a93</integer>
	<integer>0x5bd6c8cd</integer>
	<integer>0x5bdf7326</integer>
	<integer>0x5bea30e8</integer>
	<integer>0x5bfa5612</integer>
	<integer>0x5c1b07d1</integer>
	<integer>0x5cffcf49</integer>
	<integer>0x5d4aa3ea</integer>
	<integer>0x5d54726a</integer>
	<integer>0x5d98a61d</integer>
	<integer>0x5dabd8dd</integer>
	<integer>0x5db9b147</integer>
	<integer>0x5e130cf4</integer>
	<integer>0x5e2a7332</integer>
	<integer>0x5e4fb1ce</integer>
	<integer>0x5e889377</integer>
	<integer>0x5e8ff505</integer>
	<integer>0x5ebc3227</integer>
	<integer>0x5ebee370</integer>
	<integer>0x5ec6871d</integer>
	<integer>0x5ee26b56</integer>
	<integer>0x5ef2db5a</integer>
	<integer>0x5ef2e5a8</integer>
	<integer>0x5ef4a054</integer>
	<integer>0x5f1f0ad1</integer>
	<integer>0x5f551929</integer>
	<integer>0x5f69a188</integer>
	<integer>0x5f9aa52d</integer>
	<integer>0x5f9ac8d8</integer>
	<integer>0x5fa76d7d</integer>
	<integer>0x5fd37de7</integer>
	<integer>0x5fd3d8eb</integer>
	<integer>0x60211911</integer>
	<integer>0x602b82b2</integer>
	<integer>0x617608ec</integer>
	<integer>0x6266067d</integer>
	<integer>0x62ca142d</integer>
	<integer>0x62d97de1</integer>
	<integer>0x62ead26f</integer>
	<integer>0x62ed147b</integer>
	<integer>0x62ff90b0</integer>
	<integer>0x6371402b</integer>
	<integer>0x63e51608</integer>
	<integer>0x6701d413</integer>
	<integer>0x671e2abd</integer>
	<integer>0x67e0a530</integer>
	<integer>0x67f35e8c</integer>
	<integer>0x68836b6b</integer>
	<integer>0x688374b8</integer>
	<integer>0x688f009c</integer>
	<integer>0x68dbb809</integer>
	<integer>0x6ab926ae</integer>
	<integer>0x6b060491</integer>
	<integer>0x6b96081b</integer>
	<integer>0x6b962114</integer>
	<integer>0x6baae481</integer>
	<integer>0x6baaf0ad</integer>
	<integer>0x6c331456</integer>
	<integer>0x6c3d95de</integer>
	<integer>0x6c3d97ac</integer>
	<integer>0x6ca181f7</integer>
	<integer>0x6caa8c15</integer>
	<integer>0x6d3cd3d8</integer>
	<integer>0x6d492a24</integer>
	<integer>0x6d49ac8a</integer>
	<integer>0x6da3ebef</integer>
	<integer>0x6dbec4dc</integer>
	<integer>0x6dc987d8</integer>
	<integer>0x6de49802</integer>
	<integer>0x6de49a51</integer>
	<integer>0x6de6dc7d</integer>
	<integer>0x6dea9cda</integer>
	<integer>0x6deb311b</integer>
	<integer>0x6deb4554</integer>
	<integer>0x707c4700</integer>
	<integer>0x719244fb</integer>
	<integer>0x731d1152</integer>
	<integer>0x7346b011</integer>
	<integer>0x7529a2b8</integer>
	<integer>0x761b08aa</integer>
	<integer>0x77e607d3</integer>
	<integer>0x77f64734</integer>
	<integer>0x79ac0864</integer>
	<integer>0x7a806d94</integer>
	<integer>0x7be7e03f</integer>
	<integer>0x80afc31f</integer>
	<integer>0x80c7a460</integer>
	<integer>0x80c7fef4</integer>
	<integer>0x8161454c</integer>
	<integer>0x817b0707</integer>
	<integer>0x817b0727</integer>
	<integer>0x81ba1111</integer>
	<integer>0x83f7a9be</integer>
	<integer>0x85f2d13f</integer>
	<integer>0x86665e26</integer>
	<integer>0x86771191</integer>
	<integer>0x8974a0b0</integer>
	<integer>0x89e2222a</integer>
	<integer>0x8ad2d9aa</integer>
	<integer>0x8dffa6c2</integer>
	<integer>0x8fd7817e</integer>
	<integer>0x904cf413</integer>
	<integer>0x929434a2</integer>
	<integer>0x92945039</integer>
	<integer>0x92b9131e</integer>
	<integer>0x92b98e56</integer>
	<integer>0x92b9fd33</integer>
	<integer>0x94fb06d6</integer>
	<integer>0x959a9beb</integer>
	<integer>0x95d285f4</integer>
	<integer>0x97e0f8fc</integer>
	<integer>0x99794be5</integer>
	<integer>0x997ffb43</integer>
	<integer>0x9a14028b</integer>
	<integer>0x9d0d3d05</integer>
	<integer>0x9e3aad30</integer>
	<integer>0x9ffd1784</integer>
	<integer>0xa2d16eda</integer>
	<integer>0xa2d5fecd</integer>
	<integer>0xa2effe64</integer>
	<integer>0xa2f29627</integer>
	<integer>0xa2f3518a</integer>
	<integer>0xa2f3eb38</integer>
	<integer>0xa2f44f10</integer>
	<integer>0xa2f5d977</integer>
	<integer>0xa2f86675</integer>
	<integer>0xa2fb6c35</integer>
	<integer>0xa2fe958b</integer>
	<integer>0xa2ff744e</integer>
	<integer>0xa6465e6a</integer>
	<integer>0xa7582d7c</integer>
	<integer>0xa75878d2</integer>
	<integer>0xad1a312b</integer>
	<integer>0xad1e0e06</integer>
	<integer>0xad5072c5</integer>
	<integer>0xada7d6f3</integer>
	<integer>0xadd0db6c</integer>
	<integer>0xaddc439c</integer>
	<integer>0xadec6522</integer>
	<integer>0xadf66b22</integer>
	<integer>0xadffedf1</integer>
	<integer>0xae02d5d1</integer>
	<integer>0xae3317e0</integer>
	<integer>0xae337b9f</integer>
	<integer>0xae39d479</integer>
	<integer>0xae6d211c</integer>
	<integer>0xaf7e7c5b</integer>
	<integer>0xaf7e7c5c</integer>
	<integer>0xb00a74f2</integer>
	<integer>0xb024237e</integer>
	<integer>0xb02463de</integer>
	<integer>0xb07c6e2f</integer>
	<integer>0xb0c2212c</integer>
	<integer>0xb0dfc9c6</integer>
	<integer>0xb23e1a53</integer>
	<integer>0xb23e2430</integer>
	<integer>0xb23ed48d</integer>
	<integer>0xb23efe3b</integer>
	<integer>0xb24efa03</integer>
	<integer>0xb29b56e2</integer>
	<integer>0xb2af8623</integer>
	<integer>0xb2f86f04</integer>
	<integer>0xb2fe01aa</integer>
	<integer>0xb2fe22a1</integer>
	<integer>0xb32b720e</integer>
	<integer>0xb6d5d01c</integer>
	<integer>0xb844022e</integer>
	<integer>0xb848ee2a</integer>
	<integer>0xb85ee222</integer>
	<integer>0xb85ee33a</integer>
	<integer>0xb86b8b3a</integer>
	<integer>0xb86bce2d</integer>
	<integer>0xb90a3075</integer>
	<integer>0xb915d89c</integer>
	<integer>0xb9262fe0</integer>
	<integer>0xb92dc081</integer>
	<integer>0xb93581e6</integer>
	<integer>0xb9358372</integer>
	<integer>0xb937353d</integer>
	<integer>0xb937353f</integer>
	<integer>0xb93d7702</integer>
	<integer>0xb93d94cb</integer>
	<integer>0xba02a717</integer>
	<integer>0xbc5c4bb2</integer>
	<integer>0xbc7a5c86</integer>
	<integer>0xbc8a09d0</integer>
	<integer>0xbca5d194</integer>
	<integer>0xbce2ceef</integer>
	<integer>0xbe0a087c</integer>
	<integer>0xbe0a0a93</integer>
	<integer>0xc000828e</integer>
	<integer>0xc003599f</integer>
	<integer>0xc049ea8a</integer>
	<integer>0xc04b5f6b</integer>
	<integer>0xc05f6466</integer>
	<integer>0xc09b54b5</integer>
	<integer>0xc0a9e9ce</integer>
	<integer>0xc0c65d56</integer>
	<integer>0xc0e387d8</integer>
	<integer>0xc1006d03</integer>
	<integer>0xc14d32d0</integer>
	<integer>0xc16d443e</integer>
	<integer>0xc1967925</integer>
	<integer>0xc1e04562</integer>
	<integer>0xc24f0825</integer>
	<integer>0xc28d560a</integer>
	<integer>0xc30cb45e</integer>
	<integer>0xc3383f0a</integer>
	<integer>0xc3745d5d</integer>
	<integer>0xc39aaee2</integer>
	<integer>0xc39f6f62</integer>
	<integer>0xc3a98a02</integer>
	<integer>0xc3bd7e23</integer>
	<integer>0xc3c5afbe</integer>
	<integer>0xc5f25d52</integer>
	<integer>0xc60bd693</integer>
	<integer>0xc6312915</integer>
	<integer>0xc7217cba</integer>
	<integer>0xc7ccba92</integer>
	<integer>0xc7e9ee73</integer>
	<integer>0xc7f1bd42</integer>
	<integer>0xca3c44f2</integer>
	<integer>0xca3c45e8</integer>
	<integer>0xcbb79727</integer>
	<integer>0xcbdb0ecc</integer>
	<integer>0xcc2c7b6d</integer>
	<integer>0xcc2c7ba2</integer>
	<integer>0xcc2d78b2</integer>
	<integer>0xcebe862c</integer>
	<integer>0xcef8b87f</integer>
	<integer>0xcff44908</integer>
	<integer>0xd0421e1b</integer>
	<integer>0xd15109df</integer>
	<integer>0xd169f3e5</integer>
	<integer>0xd17e469f</integer>
	<integer>0xd18c1ea9</integer>
	<integer>0xd1a580eb</integer>
	<integer>0xd1be02f2</integer>
	<integer>0xd242feec</integer>
	<integer>0xd2491b21</integer>
	<integer>0xd34842e5</integer>
	<integer>0xd419257c</integer>
	<integer>0xd447eb72</integer>
	<integer>0xd447fc6d</integer>
	<integer>0xd472301f</integer>
	<integer>0xd4ae9776</integer>
	<integer>0xd542cdc2</integer>
	<integer>0xd581f88b</integer>
	<integer>0xd5885722</integer>
	<integer>0xd5a55285</integer>
	<integer>0xd5a71106</integer>
	<integer>0xd5b39efd</integer>
	<integer>0xd5bd357d</integer>
	<integer>0xd5ded05d</integer>
	<integer>0xd8319ea1</integer>
	<integer>0xd8378f9a</integer>
	<integer>0xd8835b64</integer>
	<integer>0xd8f5ceb5</integer>
	<integer>0xd8fa8ae6</integer>
	<integer>0xd90be1bd</integer>
	<integer>0xd9170685</integer>
	<integer>0xd94b58b2</integer>
	<integer>0xd9ac8f8c</integer>
	<integer>0xd9c3a9d1</integer>
	<integer>0xd9c4f86a</integer>
	<integer>0xdb8aa1a2</integer>
	<integer>0xdea7f85a</integer>
	<integer>0xdf12fe37</integer>
</array>
</plist>
