[submodule "AFNetowrking"]
	path = AFNetowrking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "bitcoin"]
	path = bitcoin
	url = git://github.com/bitcoin/bitcoin.git
[submodule "ZBar"]
	path = ZBar
	url = git://github.com/ZBar/ZBar.git
