[submodule "AFNetowrking"]
	path = AFNetowrking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "bitcoin"]
	path = bitcoin
	url = git://github.com/bitcoin/bitcoin.git
[submodule "ZBar"]
	path = ZBar
	url = git://github.com/ZBar/ZBar.git
[submodule "QR-Code-Encoder-for-Objective-C"]
	path = QR-Code-Encoder-for-Objective-C
	url = git://github.com/myang-git/QR-Code-Encoder-for-Objective-C.git
