<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>dashwallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>16</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionMainStoryboard</key>
		<string>TodayExtension</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widget-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-Italic.otf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Montserrat-Thin.otf</string>
		<string>Montserrat-Medium.otf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-ExtraLightItalic.otf</string>
		<string>Montserrat-LightItalic.otf</string>
		<string>Montserrat-MediumItalic.otf</string>
		<string>Montserrat-SemiBoldItalic.otf</string>
		<string>Montserrat-ThinItalic.otf</string>
	</array>
</dict>
</plist>
